<div class="section">
	<section id="page4" class="fullscreen">
		<div id="releaseShowWrapper" style="display:none;">
			<div class="closeRelease">
				<a data-remote="true" href="#" id="removeRelease"><i class="icon-remove"></i></a>               
			</div>
			<div class="ajax-content clearfix"></div>
			<div id="releaseShowContent">
				<div id="ajaxpage" class="container">
					<div class="col-md-12 releaseShow">
					</div>
				</div>
			</div>
		
		</div>
		<ul id="portfolio-grid" class="projectlist clearfix">
			<% @works.each do |w| %>
				<li class="project">
					<input type="hidden" value=<%= w.id %> class="modal-object-id">
					<%= link_to '#work', :class => 'releaseClick' do %>
						<%= image_tag w.image.url(:medium, :alt => "thumbnail") %>
						<div class="projectinfo">
							<div class="meta">
								<h4><%= w.client %></h4>
								<h6><em><%= w.title.downcase %></em></h6>
							</div>
						</div>
					<% end %>
				</li>
			<% end %>
		</ul>
		
		<div class="footer">
			<!-- Social Links -->
			<ul class="social-links grid-full">
				<li><%= link_to image_tag('facebook-large.png', :alt => "facebook", :width => "36", :height => "36"), '', target: '_blank' %></li>
				<li><%= link_to image_tag('twitter-large.png', :alt => "twitter", :width => "36", :height => "36"), '', target: '_blank' %></li>
			</ul>

			<!-- Copyright Info -->
			<div class="copyright grid-full"><h6>©<%= Time.now.year %> | Beetle TV. All rights reserved</h6></div><br/><br/>
		</div>
	</section>
</div>